# ReCAPTCHA settings
# ------------------
#   Used for the 'Insecure CAPTCHA' module
#   You'll need to generate your own keys at: https://www.google.com/recaptcha/admin
RECAPTCHA_PRIV_KEY=
RECAPTCHA_PUB_KEY=


# Difficulty settings
# -------------------
# Depending on the difficulty you want, set this to:
# * low
# * medium
# * high
# * impossible
SECURITY_LEVEL=medium



# Difficulty settings
# -------------------
# By default PHP errors will not be visible on the page.
# If this is too difficult, you can choose to enable the display of PHP errors.
# Set the value to "1" (without quotes) and PHP errors will be displayed
PHP_DISPLAY_ERRORS=0
